@keyframes rond {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rond {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.scroll-loading {
    position: relative;
    height: 40px;
    width: 100%;
    display: none;
}

.scroll-loading .loading-box{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -15px;
    height: 30px;
    width: 30px;
}

.scroll-loading .loading-rond {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 1px solid #999;
    border-radius: 50%;
    animation: rond 1s infinite;
    -webkit-animation: rond 1s infinite;
}

.scroll-loading .loading-rond .rond {
    position: absolute;
    top:2.5px;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #999;
}

.scroll-loading .loading-circle {
    position: absolute;
    top:5px;
    left:5px;
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    background: #999;
}

.scroll-loading .loading-circle p {
    position: absolute;
    color: #999;
    left: 30px;
    font-size: 10px;
    width: 100px;
    text-align: left;
    top: 1px;
}

.no-data{
    height:5rem;
    line-height: 5rem;
    text-align: center;
}

 @-webkit-keyframes hide{
     0% {
        transform: scale3d(0,40px,0);
    }

    25% {
        transform: scale3d(0,30px,0);
    }

    50% {
        transform: scale3d(0,20px,0);
    }

    75% {
        transform: scale3d(0,10px,0);
    }

    100% {
        transform: scale3d(0,0,0);
        display: none;
    }
 }

 @-webkit-keyframes hide{
     0% {
        transform: scale3d(0,40px,0);
    }

    25% {
        transform: scale3d(0,30px,0);
    }

    50% {
        transform: scale3d(0,20px,0);
    }

    75% {
        transform: scale3d(0,10px,0);
    }

    100% {
        transform: scale3d(0,0,0);
        display: none;
    }
 }

.hidden{
    animation: hide 0.5s 0.5s 1;
    -webkit-animation: hide 0.5s 0.5s 1;
}

.load-tip{
    text-align: center;
    height:50px;
    line-height: 50px;
}
