@keyframes rond {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rond {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.scroll-loading {
    position: relative;
    height: 40px;
    width: 100%;
    display: none;
}

.scroll-loading .loading-box {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -25px;
    height: 30px;
    width: 30px;
}

.scroll-loading .loading-rond {
    height: 30px;
    width: 30px;
    border: 1px solid #0CF;
    border-radius: 50%;
    position: absolute;
    animation: rond 1s infinite;
    -webkit-animation: rond 1s infinite;
}

.scroll-loading .loading-rond .rond {
    position: absolute;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: #0CF;
    top: .05rem;
    left: 0;
}

.scroll-loading .loading-center {
    position: absolute;
    height: .4rem;
    width: .4rem;
    color: #fff;
    text-align: center;
    margin: 5px;
    border-radius: 40px;
    background: #0CF;
}

.scroll-loading .loading-center p {
    position: absolute;
    color: #999;
    left: 30px;
    font-size: 10px;
    width: 100px;
    text-align: left;
    top: 1px;
}

.no-data{
    height:5rem;
    line-height: 5rem;
    text-align: center;
}

 @-webkit-keyframes hide{
     0% {
        transform: scale3d(0,40px,0);
    }

    25% {
        transform: scale3d(0,30px,0);
    }

    50% {
        transform: scale3d(0,20px,0);
    }

    75% {
        transform: scale3d(0,10px,0);
    } 

    100% {
        transform: scale3d(0,0,0);
        display: none;
    }   
 } 

 @-webkit-keyframes hide{
     0% {
        transform: scale3d(0,40px,0);
    }

    25% {
        transform: scale3d(0,30px,0);
    }

    50% {
        transform: scale3d(0,20px,0);
    }

    75% {
        transform: scale3d(0,10px,0);
    } 

    100% {
        transform: scale3d(0,0,0);
        display: none;
    }  
 } 

.hidden{
    animation: hide 0.5s 0.5s 1;
    -webkit-animation: hide 0.5s 0.5s 1;
}
