.detail-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.detail-wrapper .scroll-wrapper {
    overflow: hidden;
}

.video-wrapper {
    position: relative;
    width: 100%;
}

.video-wrapper .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.video-wrapper .video-cover:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    z-index: 91;
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.4);
}

.video-wrapper .video-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 92;
    display: inline-block;
    width: 55.5px;
    height: 55.5px;
    margin-left: -25.25px;
    margin-top: -25.25px;
    background-image: url(../../images/video_play_btn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-wrapper .video-player {
    position: relative;
    width: 100%;
    height: 220px;
}

.video-wrapper .video-detail {
    height: .88rem;
    background-color: #fff;
}

.video-wrapper .video-detail > div {
    font-size: 10px;
}

.video-wrapper .video-detail > div:nth-child(1) {
    width: 40%;
    padding-left: .3rem;
}

.video-wrapper .video-detail > div:nth-child(1):before {
    content: '';
    display: inline-block;
    width: .36rem;
    height: .36rem;
    background: url(../../images/hot_adv_icon.png) repeat;
    background-size: contain;
    vertical-align: -5px;
    margin-right: 4px;
}

.video-wrapper .video-detail > div:nth-child(2) {
    width: 40%;
}

.video-wrapper .video-detail > div:nth-child(2):before {
    content: '';
    display: inline-block;
    width: .36rem;
    height: .36rem;
    background: url(../../images/hot_packet_icon.png) repeat;
    background-size: contain;
    vertical-align: -5px;
    margin-right: 4px;
}

.video-wrapper .video-detail > div:nth-child(3) {
    width: 20%;
    text-align: right;
    margin-right: .47rem
}

.video-wrapper .video-detail > div:nth-child(3):before {
    content: '';
    display: inline-block;
    width: .36rem;
    height: .36rem;
    background: url(../../images/adv_share_icon.png) repeat;
    background-size: contain;
    vertical-align: -5px;
    margin-right: 4px;
}

.packetRecord-wrapper{
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-top:1px solid #eee;
    height:0;
}

.packetRecord-wrapper > div{
    width:50%;
    height:100%;
}

.packetRecord-wrapper .luck-star{
    background: url(../../images/luck_star_icon.png) no-repeat;
    background-size: 134px 35px;
    background-position: center center;
}

.packetRecord-wrapper .luck-level > div{
    height:100%;
}

.packetRecord-wrapper .luck-level > div:nth-child(1){
    position: relative;
    background: url(../../images/luck_gold.png) no-repeat;
    background-size: 33px 43px;
    background-position: center 5px;
}

.packetRecord-wrapper .luck-level > div:nth-child(2){
    position: relative;
    background: url(../../images/luck_silver.png) no-repeat;
    background-size: 33px 43px;
    background-position: center  5px;   
}

.packetRecord-wrapper .luck-level > div:nth-child(3){
    position: relative;
    background: url(../../images/luck_copper.png) no-repeat;
    background-size: 33px 43px;
    background-position: center  5px;  
}

.packetRecord-wrapper .luck-level .luck-header{
    position: absolute;
    display: block;
    width :25px;
    height:25px;
    left:50%;
    top:16.5px;
    margin-left: -13.5px;
    border-radius: 50%;
    background-image: url(../../images/mine_header_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.packetRecord-wrapper .luck-level .gold{
    position: absolute;
    display: block;
    width:100%;    
    left:0;
    bottom:2px;
    text-align: center;
    font-size: 10px;
    color:#333;
}

.packetRecord-wrapper .luck-level .silver{
    position: absolute;
    display: block;
    width:100%;
    left:0;
    bottom:2px;
    text-align: center;
    font-size: 10px;
    color:#333;
}

.packetRecord-wrapper .luck-level .copper{
    position: absolute;
    display: block;
    width:100%;
    left:0;
    bottom:2px;
    text-align: center;
    font-size: 10px;
    color:#333;
}

.correlation-wrapper {
    border-top:5px solid #eee;
    background-color: #fff;
}

.correlation-wrapper h2 {
    height: .9rem;
    line-height: .9rem;
    font-size: 17px;
    color: #333;
    border-bottom: 1px solid #eee;
    margin: 0 .28rem;
    font-weight: 700;
}

.correlation-wrapper ul {
    margin: 0 .28rem;
}

.correlation-wrapper li {
    height: 1.85rem;
    border-bottom: 1px solid #eee;
}

.correlation-wrapper li:last-child {
    border-bottom: none;
}

.correlation-wrapper li > div {
    margin: .21rem 0;
}

.correlation-wrapper li > div:last-child {
    width: 2.56rem;
    height: 1.44rem;
}

.correlation-wrapper li h3 {
    color: #333;
    font-size: 15px;
    font-weight: 700;
}

.correlation-wrapper .video-property > p {
    color: #666;
    font-size: 11px;
}

.score-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.score-wrapper .score-content {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5.8rem;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.score-wrapper .score-content h2 {
    height: 1rem;
    line-height: 1rem;
    font-size: 17px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-left: .48rem;
}

.score-wrapper .score-description {
    font-size: 14px;
    padding-left: .48rem;
    color: #333;
}

.score-wrapper .starability-slot {
    position: relative;
    width: 4.5rem;
    margin: .45rem .47rem;
    text-align: left;
    overflow: hidden;
}

.score-wrapper .starability-slot > input {
    position: absolute;
    left: -100%;
    opacity: 0
}

.score-wrapper .starability-slot > label {
    position: relative;
    display: inline-block;
    float: right;
    width: .6rem;
    height: .6rem;
    color: transparent;
    cursor: pointer;
    background-image: url(../../images/start_icon.png);
    background-repeat: no-repeat;
    margin-right: .3rem;
    background-size: .6rem auto
}

.score-wrapper .starability-slot>input:checked~label,
.score-wrapper .starability-slot>input:focus~label,
.score-wrapper .starability-slot>input:hover~label {
    background-position: 0 -.6rem
}

.score-wrapper .starability-slot>input:checked~label,
.score-wrapper .starability-slot>input:focus~label,
.score-wrapper .starability-slot>input:hover~label {
    transition: background-position .7s
}

.score-wrapper .score-button {
    margin: .47rem;
    height: .86rem;
    line-height: .86rem;
    background-color: #ce1035;
    text-align: center;
    font-size: 17px;
    color: #fff;
    border-radius: 8px;
    margin-top: 1rem
}

@-webkit-keyframes translateY {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
    }
}

@keyframes translateY {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
    }
}

.score-wrapper .animation {
    -webkit-animation-name: translateY;
    animation-name: translateY;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.packet-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.packet-wrapper .packet-content {
    position: absolute;
    width: 5.73rem;
    height: 8.69rem;
    top: 2rem;
    left:50%;
    margin-left:-2.865rem;
    background: url(../../images/packet_bg.png) no-repeat;
    background-size: contain;
    text-align: center
}

.packet-wrapper .packet-close {
    position: absolute;
    width: .58rem;
    height: .58rem;
    top: .18rem;
    left: .18rem;
    background: url(../../images/packet_close_icon.png) no-repeat;
    background-size: contain;
}

.packet-wrapper .packet-header {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 1.5rem;
    left: 50%;
    margin-left: -.625rem;
    border-radius: 50%;
    background: url(../../images/mine_header_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.packet-wrapper .packet-title {
    position: absolute;
    top: 3rem;
    font-size: 16px;
    color: #ffd8b0;
    text-align: center;
    width: 100%;
}

.packet-wrapper .packet-desprition {
    position: absolute;
    top: 3.6rem;
    text-align: center;
    font-size: 14px;
    color: #ffd7af;
    width: 100%;
}

.packet-wrapper .packet-wish {
    position: absolute;
    bottom: 3.5rem;
    text-align: center;
    font-size: 20px;
    min-height: .6rem;
    color: #ffd7af;
    width: 100%;
}

.packet-wrapper .packet-open {
    position: absolute;
    left: 50%;
    bottom: 1.35rem;
    display: block;
    width: 1.48rem;
    height: 1.48rem;
    margin-left: -.74rem;
    background: url(../../images/packet_open_icon.png) no-repeat;
    background-size: contain;
    perspective: 500;
    -webkit-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: visible;
}


@-webkit-keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0);
        -webkit-transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0);
        -webkit-transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
    }
}

.packet-wrapper .rotateAnimation {
    animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.packet-wrapper .animation {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.no-video {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}

.detail-wrapper .back-button {
    position: fixed;
    display: none;
    bottom: 1rem;
    right: .6rem;
    z-index: 90;
    width: 1rem;
    height: 1rem;
    background: url(../../images/backhome_icon.png) no-repeat;
    background-size: contain;
}
