.detail-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-wrapper{
   position: relative;
   width:100%;
}

.video-wrapper .video-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.video-wrapper .video-cover:before {
    position: absolute;
    content:'';
    display: block;
    top: 0;
    left: 0;
    z-index: 91;
    width: 100%;
    height: 220px;
    background-color: rgba(0,0,0,0.4);
}

.video-wrapper .video-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 92;
    display: inline-block;
    width: 55.5px;
    height: 55.5px;
    margin-left: -25.25px;
    margin-top: -25.25px;
    background-image: url(../../images/video_pause_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-wrapper .video-player{
    position: relative;
    width: 100%;
    height: 220px;
}

.video-wrapper .video-detail {
    height: .88rem;
    background-color: #fff;
}

.video-wrapper .video-detail > div {
    font-size: 10px;
}

.video-wrapper .video-detail > div:nth-child(1) {
    width: 40%;
    padding-left: .3rem;
}

.video-wrapper .video-detail > div:nth-child(1):before {
    content: '';
    display: inline-block;
    width: .34rem;
    height: .34rem;
    background: url(../../images/adv_amt_icon2.png) repeat;
    background-size: contain;
    vertical-align: -5px;
    margin-right: .1rem;
}

.video-wrapper .video-detail > div:nth-child(2) {
    width: 40%;
}

.video-wrapper .video-detail > div:nth-child(2):before {
    content: '';
    display: inline-block;
    width: .34rem;
    height: .34rem;
    background: url(../../images/adv_packet_icon2.png) repeat;
    background-size: contain;
    vertical-align: -5px;
    margin-right: .1rem;
}

.video-wrapper .video-detail > div:nth-child(3) {
    width: 20%;
    text-align: right;
    margin-right: .47rem
}

.video-wrapper .video-detail > div:nth-child(3):before {
    content: '';
    display: inline-block;
    width: .34rem;
    height: .34rem;
    background: url(../../images/adv_share_icon.png) repeat;
    background-size: contain;
    vertical-align: -5px;
    margin-right: .1rem;
}

.packetRecord-wrapper {
    position: relative;
    width: 100%;
    min-height: 10px;
    max-height: 90px;
    background-color: #eee;
    overflow: hidden;
}

.packetRecord-wrapper li {
    height: 30px;
    color: #9f786f;
    font-size: 14px;
    text-align: left;
}

.packetRecord-wrapper li:nth-of-type(1n){
   color:#9f786f;
}

.packetRecord-wrapper li:nth-of-type(2n){
   color:#cb9b23;
}

.packetRecord-wrapper li:nth-of-type(3n){
   color:#2db890;
}

.packetRecord-wrapper li > div:nth-child(2) {
    width: 25%;
    margin-left:.28rem;
}

.packetRecord-wrapper li > div:nth-child(3) {
    width: 25%;
    margin-left:.35rem;
}

.packetRecord-wrapper li > div:nth-child(4) {
    margin-left:.35rem;
    color: #333;
}

.packetRecord-wrapper li > div:nth-child(4) span {
    color: #f02800;
}

.packetRecord-wrapper li .personal-header {
    display: inline-block;
    width: 20px;
    height:20px;
    border-radius: 50%;
    margin-left:.28rem;
    background-image : url(../../images/user_header_icon.png);
    background-repeat:  no-repeat;
    background-size  : contain;
}

.packetRecord-wrapper ul {
    position: relative;
    top: 0px;
}

.packetRecord-wrapper ul.move{
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;   
}

.correlation-wrapper {
    background-color: #fff;
}

.correlation-wrapper h2 {
    height: .9rem;
    line-height: .9rem;
    font-size: 17px;
    color: #333;
    border-bottom: 1px solid #c1c1c1;
    margin: 0 .28rem;
    font-weight: 700;
}

.correlation-wrapper ul {
    margin: 0 .28rem;
}

.correlation-wrapper li {
    height: 1.85rem;
    border-bottom: 1px solid #c1c1c1;
}

.correlation-wrapper li:last-child {
    border-bottom: none;
}

.correlation-wrapper li > div {
    margin: .21rem 0;
}

.correlation-wrapper li > div:last-child {
    width: 2.2rem;
    height: 1.44rem;
}

.correlation-wrapper li h3 {
    color: #333;
    font-size: 15px;
    font-weight: 700;
}

.correlation-wrapper .video-property > p {
    color: #666;
    font-size: 11px;
}

.score-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.score-wrapper .score-content {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5.8rem;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.score-wrapper .score-content h2 {
    height: 1rem;
    line-height: 1rem;
    font-size: 17px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-left: .48rem;
}

/*.score-wrapper .score-content .start {
    height: 1.55rem;
    line-height: 1.55rem;
    padding-left: .48rem;
}

.score-wrapper .start span {
    display: inline-block;
    width: .66rem;
    height: .61rem;
    background: url(../../images/gray_start_icon.png) no-repeat;
    background-size: 100%;
    margin-right: .38rem;
}*/

.score-wrapper .score-description {
    font-size: 14px;
    padding-left: .48rem;
    color: #333;
}

.score-wrapper .starability-slot {
    position: relative;
    width: 4.5rem;
    margin: .45rem .47rem;
    text-align: left;
    overflow: hidden;
}

.score-wrapper .starability-slot > input {
    position: absolute;
    left: -100%;
    opacity: 0
}

.score-wrapper .starability-slot > label {
    position: relative;
    display: inline-block;
    float: right;
    width: .6rem;
    height: .6rem;
    color: transparent;
    cursor: pointer;
    background-image: url(../../images/start_icon.png);
    background-repeat: no-repeat;
    margin-right: .3rem;
    background-size: .6rem auto
}

.score-wrapper .starability-slot>input:checked~label,
.score-wrapper .starability-slot>input:focus~label,
.score-wrapper .starability-slot>input:hover~label {
    background-position: 0 -.6rem
}

.score-wrapper .starability-slot>input:checked~label,
.score-wrapper .starability-slot>input:focus~label,
.score-wrapper .starability-slot>input:hover~label {
    transition: background-position .7s
}

.score-wrapper .score-button {
    margin: .47rem;
    height: .86rem;
    line-height: .86rem;
    background-color: #811b10;
    text-align: center;
    font-size: 17px;
    color: #fff;
    border-radius: 8px;
    margin-top: 1rem
}

@-webkit-keyframes translateY {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
    }
}

@keyframes translateY {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 1;
    }
}

.score-wrapper .animation {
    -webkit-animation-name: translateY;
    animation-name: translateY;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.packet-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
}

.packet-wrapper .packet-content {
    position: absolute;
    width: 5.73rem;
    height: 8.69rem;
    top: 2rem;
    left: .9rem;
    background: url(../../images/packet_bg.png) no-repeat;
    background-size: contain;
    text-align: center
}

.packet-wrapper .packet-close {
    position: absolute;
    width: .58rem;
    height: .58rem;
    top: .18rem;
    left: .18rem;
    background: url(../../images/packet_close_icon.png) no-repeat;
    background-size: contain;
}

.packet-wrapper .packet-header {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top:1.5rem;
    left:50%;
    margin-left: -.625rem;
    background: url(../../images/user_header_icon.png);
    background-size: contain;
}

.packet-wrapper .packet-title{
    position: absolute;
    top: 3rem;
    font-size: 16px;
    color: #ffd8b0;
    text-align: center;
    width:100%;
}

.packet-wrapper .packet-desprition{
    position: absolute;
    top: 3.6rem;
    text-align: center;
    font-size: 14px;
    color: #ffd7af;
    width:100%;
}

.packet-wrapper .packet-wish{
    position: absolute;
    bottom: 3.5rem;
    text-align: center;
    font-size: 20px;
    min-height: .6rem;
    color: #ffd7af;
    width:100%;
}

.packet-wrapper .packet-open{
    position: absolute;
    left:50%;
    bottom:1.35rem;
    display: block;
    width: 1.48rem;
    height: 1.48rem;
    margin-left: -.74rem;
    background: url(../../images/packet_open_icon.png) no-repeat;
    background-size: contain;
    perspective: 500;
    -webkit-perspective: 500;    
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: visible;
}

.packet-wrapper .packet-result {
    position: absolute;
    width: 5.74rem;
    height: 8.66rem;
    top: 2rem;
    left: .9rem;
    background: url(../../images/packet_result_bg.png) no-repeat;
    background-size: contain;
}


.packet-wrapper .result-header{
    position: absolute;
    top:1.54rem;
    left:50%;
    margin-left:-.625rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url(../../images/user_header_icon.png);
    background-size: contain;
}

.packet-wrapper .packet-result .packet-title{
    position: absolute;
    top: 3rem;
    font-size: 16px;
    color: #fcbf81;
    text-align: center;
    width:100%;
}

.packet-wrapper .packet-result .packet-desprition{
    position: absolute;
    top: 3.5rem;
    text-align: center;
    font-size: 14px;
    color: #fcbf81;
    width:100%;
}

.packet-wrapper .packet-money {
    position: absolute;
    top:4.6rem;
    left:0;
    text-align: center;
    width:100%;
    font-size: 43px;
    color: #fcbf81;
}

.packet-wrapper .packet-account{
    position: absolute;
    top:5.7rem;
    left:0;
    text-align: center;
    width:100%;
    font-size: 12px;
    color: #fff;
}

.packet-wrapper .packet-money:before {
    position: relative;
    content: 'ï¿¥';
    font-size: 24px;
    color: #fcbf81;
}

.packet-wrapper .packet-ranking {
    position: absolute;
    bottom:1.5rem;
    left:0;
    width:100%;
    text-align: center;
    font-size: 14px;
    color: #fcbf81;
}

.packet-wrapper .packet-ranking span {
    font-size: 20px;
}


.packet-wrapper .packet-remindTips {
    position: absolute;
    top:5rem;
    left:0;
    text-align: center;
    width:100%;
    font-size: 38px;
    color: #fcbf81;
}

.packet-wrapper .packet-more{
    position: absolute;
    bottom: .32rem;
    text-align: center;
    width: 100%;
    background:url(../../images/more_icon.png) no-repeat;
    background-size: .17rem .28rem;
    background-position: 68% 44%;
}

.packet-wrapper .packet-more a{
    font-size: 14px;
    color:#ffe0cb;
}


@-webkit-keyframes rotate {
    from {
        transform: rotate3d(0,0,0,0);
        -webkit-transform: rotate3d(0,0,0,0);  
    }
    to {
        transform: rotate3d(0,1,0,360deg);
        -webkit-transform:rotate3d(0,1,0,360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate3d(0,0,0,0);
        -webkit-transform: rotate3d(0,0,0,0);  
    }
    to {
        transform: rotate3d(0,1,0,360deg);
        -webkit-transform:rotate3d(0,1,0,360deg);
    }
}

.packet-wrapper .rotateAnimation {
    animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.packet-wrapper .animation {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.no-video{
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
