.adv-list-wrapper {
    position: relative;
    width: 100%;
}

.adv-list-wrapper .video-play {
    display: inline-block;
    width: 1.11rem;
    height: 1.11rem;
    background: url(../../images/video_play_btn.png) repeat;
    background-size: 100% 100%;
}

.adv-list-wrapper ul > li {
    position: relative;
    height: 4.22rem;
    background-image: url(../../images/adv_bg_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #fff;
}

.adv-list-wrapper li {
    display: block;
}

.adv-list-wrapper li > div:nth-child(1) {
    line-height: 1rem;
    height: 1rem;
    min-height: 1rem;
    background: url(../../images/adv_top_bg.png) repeat;
    background-size: cover;
}

.adv-list-wrapper li > div:nth-child(1) h2 {
    color: #fff;
    font-size: 15px;
    padding-left: .45rem;
}

.adv-list-wrapper li > div:nth-child(2) {
    line-height: 2.22rem;
    height: 2.22rem;
    min-height: 2.22rem;
    text-align: center;
}

.adv-list-wrapper li > div:nth-child(3) {
    line-height: 1rem;
    height: 1rem;
    min-height: 1rem;
    background: url(../../images/adv_bottom_bg.png) repeat;
    background-size: cover;
}

.adv-list-wrapper li > div:nth-child(3) p {
    height: 100%;
    color: #fff;
    font-size: 10px;
}

.adv-list-wrapper p.adv-invest {
    width: 32%;
    background: url(../../images/adv_amt_icon.png) no-repeat;
    background-position: .45rem center;
    background-size: .34rem .34rem;
    padding-left:.85rem;
}

.adv-list-wrapper p.adv-packetcount {
    width: 32%;
    background: url(../../images/adv_packet_icon.png) no-repeat;
    background-position: left center;
    background-size: .34rem .34rem;
    padding-left:.4rem;
}

.adv-list-wrapper p.adv-score {
    width: 18%;
    background: url(../../images/adv_score_icon.png) no-repeat;
    background-position: left center;
    background-size: .34rem .34rem; 
    padding-left:.4rem;   
}

.adv-list-wrapper p.adv-time {
    width: 18%;
    text-align: right;
    padding-right:.6rem;
}

.adv-list-wrapper p.adv-time span {
    background-color: #adaca8;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}


