.adv-list-wrapper {
    position: relative;
    width: 100%;
}

.adv-list-wrapper ul > li {
    position: relative;
    height: 4.22rem;
/*    background-image: url(../../images/adv_bg_01.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #eee;
}

.adv-list-wrapper li > div:nth-child(1) {
    position: relative;
    line-height: 1rem;
    height: 1rem;
}

.adv-list-wrapper li > div:nth-child(1) h2 {
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    padding-left: .45rem;
    width:6.6rem;
    z-index: 4;
}

.adv-list-wrapper li > div:nth-child(2) {
    position: relative;
    margin-top:2.2rem;
    line-height: 1rem;
    height: 1rem;
    z-index: 3;
}

.adv-list-wrapper li > div:nth-child(2) p {
    height: 100%;
    color: #fff;
    font-size: 11px;
}

.adv-list-wrapper p.adv-invest {
    width: 32.5%;
    background: url(../../images/adv_amt_icon.png) no-repeat;
    background-position: .45rem center;
    background-size: .34rem .34rem;
    padding-left:.85rem;
}

.adv-list-wrapper p.adv-packetcount {
    width: 32.5%;
    background: url(../../images/adv_packet_icon.png) no-repeat;
    background-position: left center;
    background-size: .34rem .34rem;
    padding-left:.4rem;
}

.adv-list-wrapper p.adv-score {
    width: 15%;
    background: url(../../images/adv_score_icon.png) no-repeat;
    background-position: left center;
    background-size: .34rem .34rem; 
    padding-left:.4rem;   
}

.adv-list-wrapper p.adv-time {
    width: 20%;
    text-align: right;
    padding-right:.5rem;
}

.adv-list-wrapper p.adv-time span {
    background-color: #adaca8;
    color: #fff;
    padding: 0 5px;
    border-radius: 8px;
}


.adv-list-wrapper ul > li:last-child{
    border-bottom: none!important;
}

.adv-list-wrapper ul > li:before{
    position: absolute;
    content:'';
    top:50%;
    left:50%;
    display: inline-block;
    width: 1.11rem;
    height: 1.11rem;
    margin-top :-.555rem;
    margin-left:-.555rem;
    background: url(../../images/video_play_btn.png) repeat;
    background-size: contain;
    z-index: 3;
    border-radius: 50%;
}

.adv-list-wrapper ul > li:after{
  position: absolute;
  content:'';
  top:0;
  left:0;
  display: block;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}


