.modifyPassword-wrapper{
	position: relative;
	width:100%;
	height:100%;
}

.modifyPassword-content{
	position: relative;
	padding:1.53rem .75rem 0 .75rem;
}

.modifyPassword-content input{
	height:.86rem;
	width:100%;
	border-radius: 8px;
	border:1px solid #333237;
	margin-bottom: .3rem;
	font-size: 14px;
	color:#999;
	padding-left:.26rem;
}

.modifyPassword-content a{
	display: block;
	height: .88rem;
	line-height: .88rem;
	text-align: center;
	background-color: #ce1035;
	border-radius: 8px;
	font-size: 17px;
	color:#fff;
	margin-top: .64rem;
}