@keyframes rond {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rond {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.scroll-loading {
    position: relative;
    height: .8rem;
    width: 100%;
}

.scroll-load-false {
    display: none;
}

.scroll-load-true {
    display: block;
}

.scroll-loading .loading-box {
    position: absolute;
    top: .1rem;
    left: 50%;
    margin-left: -.5rem;
    height: .6rem;
    width: .6rem;
}

.scroll-loading .loading-rond {
    height: .6rem;
    width: .6rem;
    border: 1px solid #0CF;
    border-radius: 50%;
    position: absolute;
    animation: rond 1s infinite;
    -webkit-animation: rond 1s infinite;
}

.scroll-loading .loading-rond .rond {
    position: absolute;
    border-radius: 50%;
    height: .1rem;
    width: .1rem;
    background-color: #0CF;
    top: .05rem;
    left: 0;
}

.scroll-loading .loading-center {
    position: absolute;
    height: .4rem;
    width: .4rem;
    color: #fff;
    text-align: center;
    margin: .1rem;
    border-radius: 40px;
    background: #0CF;
}

.scroll-loading .loading-center p {
    position: absolute;
    color: #000;
    left: .6rem;
    font-size: 8px;
    width: 100px;
    text-align: left;
}
