.setting-wrapper{
	position: relative;
	width:100%;
	height:100%;
}

.setting-wrapper li{
    position: relative;
    height: 1.08rem;
    line-height: 1.08rem;
    margin:0 .3rem;
    border-bottom: 1px solid #eee;
    padding-left:0.18rem;
}

.setting-wrapper li:after{
    content: '';
    position: absolute;
    right: .2rem;
    top: .4rem;
    display: block;
    width: .14rem;
    height: .29rem;
    background: url(../../images/arrow_right_icon.png) no-repeat;
    background-size: 100%;;
}

.setting-wrapper li a{
   display: block;
   font-size: 15px;
   color:#333;
}

.setting-wrapper li span:first-child{
   font-size: 15px;
}

.setting-wrapper li span:last-child{
   position: absolute;
   right:.5rem;
   top:0;
   font-size: 15px;
}

.setting-wrapper .setting-btn{
  position: absolute;
  bottom:1.2rem;
  left:50%;
	height: .86rem;
	line-height: .86rem;
  width:6rem;
  margin-left: -3rem;
	text-align: center;
	background-color: #ce1035;
	border-radius: 8px;
	font-size: 17px;
	color:#fff;
}