.record-wrapper{
	position: relative;
	width:100%;
	height:100%;
}

.record-wrapper ul{
   margin: 0 .3rem;
}

.record-wrapper ul li{
	position: relative;
	height: 1.4rem;
	border-bottom:1px solid #c5c5c5;
}

.record-wrapper ul li > div{
   transform: translateY(.22rem);
} 

.record-wrapper ul li .adv-img{
	width: 1.4rem;
	height:.96rem;
}

.record-wrapper ul li .adv-detail{
   padding-left:.33rem;
}

.record-wrapper .adv-detail > div:last-child{
	margin-top:.1rem;
}

.record-wrapper .adv-detail h2{
   font-size: 17px;
   color:#333;
   width:4rem;
}

.record-wrapper .adv-detail span{
   font-size: 12px;
   color:#999;
}

.record-wrapper .adv-detail p{
   text-align: right;
}
