.transfer-wrapper{
	position: relative;
	width:100%;
}

.transfer-wrapper .conent{
    margin:0 .3rem;

}

.transfer-wrapper .account-amount{
	height:1.13rem;
	border-bottom:1px solid #c1c1c1;
}

.transfer-wrapper .account-amount span{
	  display: inline-block;
    font-size: 17px;
    color:#333;
    margin-top: .5rem;
}

.transfer-wrapper .transfer-amount{
   margin:.33rem 0;
   text-align: center;
}


.transfer-wrapper .transfer-amount input{
	display: none;
}

.transfer-wrapper .transfer-amount label{
   display: inline-block;
   width:2.05rem;
   height:.89rem;
   line-height: .89rem;
   border:1px solid #ce1035;
   border-radius: 8px;
   text-align: center;
   margin-left:.18rem;
   margin-bottom: .18rem;
   font-size:17px;
   color:#ce1035;
}

.transfer-wrapper .transfer-amount input:checked + label{
	background: #ce1035;
	color:#fff;
}