.wallet-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.wallet-wrapper .wallet-header {
    position: relative;
    height: 1.96rem;
    width: 100%;
    background-color: #1b1a1f;
    text-align: center;
    color: #fff;
}

.wallet-header .accountBalance p:nth-child(1) {
    font-size: 24px;
}

.wallet-header .accountBalance p:nth-child(1):before {
    content: '￥';
    font-size: 12px;
}

.wallet-header .withdraw {
    margin-top: .1rem;
    font-size: 14px;
}

.wallet-header .withdraw p:nth-child(1) {
    width: 100%;
    height: 36px;
    background: url(../../images/transfer_wechet_icon.png) no-repeat;
    background-size: .54rem .5rem;
    background-position: center center;
}

.wallet-wrapper .wallet-content {
    position: relative;
}

.wallet-content .tab-nav {
    position: relative;
    height: 1rem;
    display: flex;
    background-color: #ddd;
}

.wallet-content .tab-nav > div {
    flex: 1;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.wallet-content .tab-nav a {
    height: 95%;
}

.wallet-content .tab-nav a.active {
    border-bottom: 3px solid #ce1035;
}

.wallet-swipe {
    position: relative;
    width: 100%;
}

.wallet-swipe .swipe-outer {
    position: relative;
    overflow: hidden;
}

.wallet-swipe .swipe-items {
    display: flex;
    display: -webkit-flex;
    height: 100%;
    width: 100%;
}

.wallet-swipe .item {
    flex: 1;
}
