.mine-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.mine-header-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: .1rem;
    background-color: #fff;
}

.mine-header-wrapper > div {
    text-align: center;
}

.mine-header-wrapper .personal-header {
    background: url(../../images/mine_header_bg.png) no-repeat;
    background-size: contain;
    width: 7.5rem;
    text-align: center;
}

.mine-header-wrapper .headerImg {
    display: inline-block;
    margin-top: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../../images/user_header_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.mine-header-wrapper .headerTip {
    line-height: 2.5em;
}

.mine-header-wrapper .personal-money {
    padding-bottom: .5rem;
}

.mine-header-wrapper .personal-money span:nth-child(1) {
    color: #333;
    font-size: 12px;
    vertical-align: sub;
}

.mine-header-wrapper .personal-money span:nth-child(2) {
    color: #333;
    font-size: 20px;
}

.mine-list-wrapper {
    position: relative;
    width: 100%;
}

.mine-list-wrapper li {
    position: relative;
    height: 1rem;
    line-height: 1rem;
    font-size: 15px;
    padding-left: 1.1rem;
    color: #333;
    border-bottom: 1px solid #c1c1c1;
    background-color: #fff!important;
}

.mine-list-wrapper li:nth-child(1) {
    background: url(../../images/mine_wallet_icon.png) no-repeat;
    background-size: .54rem .54rem;
    background-position: .38rem center;
}

.mine-list-wrapper li:nth-child(2) {
    background: url(../../images/invite_icon.png) no-repeat;
    background-size: .54rem .54rem;
    background-position: .38rem center;
}

.mine-list-wrapper li:nth-child(3) {
    background: url(../../images/feedback_icon.png) no-repeat;
    background-size: .54rem .54rem;
    background-position: .38rem center;
}

.mine-list-wrapper li:nth-child(4) {
    margin-bottom: .58rem;
    background: url(../../images/about_product_icon.png) no-repeat;
    background-size: .54rem .54rem;
    background-position: .38rem center;
}

.mine-list-wrapper li:nth-child(5) {
    background: url(../../images/setting_icon.png) no-repeat;
    background-size: .54rem .54rem;
    background-position: .38rem center;
}

.mine-list-wrapper li:after {
    content: '';
    position: absolute;
    right: .5rem;
    top: .4rem;
    display: block;
    width: .14rem;
    height: .29rem;
    background: url(../../images/arrow_right_icon.png) no-repeat;
    background-size: 100%;
}

.mine-list-wrapper li a {
    display: block;
    color: #333;
}

.mine-mask-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.2);
    text-align: center;
}


.mine-mask-wrapper .mask-content a:first-child {
    margin-right: .5rem;
}


.mine-mask-wrapper .cercle {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    top: .5rem;
    left: 50%;
    margin-left: -0.6rem;
    border-radius: 50%;
    background: linear-gradient(#D8A6FF, #FFECEE);
    animation: turnCercle 2s infinite;
    -webkit-animation: turnCercle 2s infinite linear;
}

.mine-mask-wrapper .cercle-login {
    position: absolute;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    top: .5rem;
    left: 50%;
    margin-left: -0.6rem;
    border-radius: 50%;
    z-index: 100;
    transform: scale(.96,.96);
    background: #ddd;
}

@-webkit-keyframes turnCercle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
    }
}

@keyframes turnCercle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
