body {
    overflow: hidden;
}

.detail-wrapper {
    position: relative;
    background-color: #fff;
}

.video-player {
    position: relative;
    width: 100%;
    height: 4.2rem;
    background-color: #333;
}

.player-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    display: none;
}

.player-cover:after {
    position: absolute;
    content: '';
    width: 55.5px;
    height: 55.5px;
    bottom: 50%;
    left: 50%;
    margin-left: -25.25px;
    margin-bottom: -25.25px;
    z-index: 2;
    background-image: url(../images/video_play_btn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-content {
    position: relative;
    width: 100%;
}

.iscroll-outer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video-detail {
    height: .88rem;
    border-bottom: 1px solid #eee;
}

.video-detail > div {
    visibility: hidden;
}

.video-detail > div:nth-child(1) {
    width: 26%;
}

.video-detail > div:nth-child(1) img {
    margin-left: .3rem;
}

.video-detail > div:nth-child(2) {
    width: 30%;
}

.video-detail > div:nth-child(3) {
    width: 20%;
    text-align: left;
}

.video-detail > div:nth-child(4) {
    width: 24%;
}

.video-detail img {
    width: .36rem;
    height: .4rem;
}

.video-detail span {
    font-size: 10px;
}

.video-detail a {
    background-color: #ce1035;
    padding: 2px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.video-winning {
    height: 1.4rem;
    border-bottom: 1px solid #eee;
    display: none;
}

.lucky_sign {
    margin-left: .3rem
}

.lucky_sign img {
    width: 2.68rem;
    height: .7rem;
}

.lucky-winning {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: .2rem;
}

.winner > div:nth-child(1) {
    position: relative;
    width: .792rem;
    height: .816rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.winner > div:nth-child(1) img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: .5rem;
    height: .5rem;
    margin-left: -.26rem;
    margin-top: -.20rem;
    border-radius: 50%;
}

.winner > div:nth-child(2) {
    font-size: 10px;
}

.winner:nth-child(1) > div:nth-child(1) {
    background-image: url(./images/luck_gold.png);
}

.winner:nth-child(2) > div:nth-child(1) {
    background-image: url(./images/luck_silver.png);
}

.winner:nth-child(3) > div:nth-child(1) {
    background-image: url(./images/luck_copper.png);
}

.video-description {
    padding: .2rem .3rem;
    border-bottom: 1px solid #eee;
}

.description-header {
    position: relative;
}

.description-header span:first-child {
    display: inline-block;
    font-size: 15px;
    color: #333;
    font-weight: 700;
    width: 5.5rem;
}

.description-header span:last-child {
    text-align: right;
}

.description-header img {
    width: .34rem;
    height: .2rem;
    display: none;
}

.description-content {
    margin-top: 5px;
    font-size: 12px;
    color: #333;
    line-height: 1.8em;
}

.video-author {
    height: 1.2rem;
}

.author-header {
    width: .82rem;
    height: .82rem;
    margin-left: .3rem;
}

.author-header img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author-detail {
    margin-left: .2rem;
    width: 4.5rem;
}

.author-detail h2 {
    font-size: 15px;
    font-weight: 700;
}

.author-detail span {
    font-size: 12px;
    color: #666;
}

.author-more {
    display: block;
    width: 1.2rem;
    height: .5rem;
    line-height: .5rem;
    border: 1px solid #666;
    border-radius: 5px;
    text-align: center;
    color: #666;
}

.video-related {
    height: 5.2rem;
    border-top: 4px solid #eee;
    border-bottom: 4px solid #eee;
    box-sizing: content-box;
}

.relatedvideo-header {
    height: .9rem;
    line-height: .9rem;
    font-size: 15px;
    margin-left: .3rem;
}

.slide-container {
    position: relative;
    height: 4.3rem;
    margin-left: .3rem;
    overflow: hidden;
}

.slide-outer {
    position: relative;
    height: 100%;
    width: 100%;
}

.slide-items {
    position: relative;
    height: 100%;
    width: 100%;
}

.slide-items .item {
    width: 5.4rem;
    margin-right: 5px;
}

.slide-items .item:last-child {
    margin-right: 0;
}

.relatedvideo-cover {
    display: block;
    height: 3.1rem;
    width: 100%;
}

.relatedvideo-cover img {
    width: 100%;
    height: 100%;
}

.relatedvideo-detail {
    height: 1.2rem;
}

.relatedvideo-detail h2 {
    font-weight: 700;
    font-size: 15px;
    margin-top: 10px;
    width: 5rem;
}

.relatedvideo-detail span {
    font-size: 12px;
}

.video-comment {
    margin: .3rem 0;
}

.video-comment li {
    position: relative;
    min-height: 1.48rem;
    margin-left: 1.2rem;
    border-bottom: 1px solid #eee;
    overflow: visible;
}

.video-comment li h3 {
    font-size: 14px;
    color: #666;
    line-height: 2em;
}

.video-comment li p.reply {
    font-size: 14px;
    color: #333;
}

.video-comment li p.time {
    font-size: 11px;
    color: #666;
    line-height: 2em;
}

.video-comment li img.headerImg {
    position: absolute;
    top: .1rem;
    left: -.9rem;
    width: .68rem;
    height: .68rem;
    border-radius: 50%;
}

.video-comment p {
    font-size: 12px;
    color: #999;
}

.video-comment img.emptyImg {
    width: 1.6rem;
    height: .63rem;
}

.video-tools {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    border-top: 1px solid #eee;
    z-index: 5;
    background-color: #fff;
}

.video-tools > div {
    text-align: center;
}

.video-tools img {
    width: .4rem;
    height: .4rem;
}

.video-tools span {
    font-size: 12px;
    margin-left: 4px;
}

.packet-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.packet-wrapper .packet-content {
    position: absolute;
    width: 5.73rem;
    height: 8.69rem;
    top: 1.5rem;
    left: 50%;
    margin-left: -2.865rem;
    background: url(./images/packet_bottom_bg.png) no-repeat;
    background-position: left bottom;
    background-size: 5.73rem 3.99rem;
    text-align: center;
    background-color: #e20c35;
    border-radius: 20px;
}

.packet-wrapper .packet-close {
    position: absolute;
    width: .58rem;
    height: .58rem;
    top: .18rem;
    left: .18rem;
    background: url(./images/packet_close_icon.png) no-repeat;
    background-size: contain;
}

.packet-wrapper .packet-header {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 1.5rem;
    left: 50%;
    margin-left: -.625rem;
    border-radius: 50%;
    background-image: url(./images/person_header.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.packet-wrapper .packet-title {
    position: absolute;
    top: 3rem;
    font-size: 16px;
    color: #ffd8b0;
    text-align: center;
    width: 100%;
}

.packet-wrapper .packet-desprition {
    position: absolute;
    top: 3.6rem;
    text-align: center;
    font-size: 14px;
    color: #ffd7af;
    width: 100%;
}

.packet-wrapper .packet-wish {
    position: absolute;
    bottom: 3.5rem;
    text-align: center;
    font-size: 20px;
    min-height: .6rem;
    color: #ffd7af;
    width: 100%;
}

.packet-wrapper .packet-open {
    position: absolute;
    left: 50%;
    bottom: 1.35rem;
    display: block;
    width: 1.48rem;
    height: 1.48rem;
    margin-left: -.74rem;
    background: url(./images/packet_open_icon.png) no-repeat;
    background-size: contain;
    perspective: 500;
    -webkit-perspective: 500;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: visible;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0);
        -webkit-transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate3d(0, 0, 0, 0);
        -webkit-transform: rotate3d(0, 0, 0, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 360deg);
        -webkit-transform: rotate3d(0, 1, 0, 360deg);
    }
}

.packet-wrapper .rotateAnimation {
    animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.packet-wrapper .animation {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
