body{
    background-color: #fff;
}
.wrapper {
    position: relative;
    width:100%;
    background-color: #fff;    
}

.download-icon{
    width: 100%;
    height:7.63rem; 
}

.download-tool {
    width: 6rem;
    margin: 1rem auto;
}

.download-android {
    display: none;
    border-radius: 8px;
    height: .86rem;
    width: 100%;
    border: 1px solid #ce1035;
    margin-bottom: .38rem;
    background-image: url(./images/download_android.png);
    background-repeat: no-repeat;
    background-size: .44rem .54rem;
    background-position: 32% center;
    padding-left: 2.42rem;
}

.download-ios {
    display: none;
    border-radius: 8px;
    height: .86rem;
    width: 100%;
    border: 1px solid #999;
    background-image: url(./images/download_ios.png);
    background-repeat: no-repeat;
    background-size: .44rem .54rem;
    background-position: 32% center;
    padding-left: 2.42rem;
}

.download-tool p:nth-child(1) {
    text-align: left;
    font-size: 14px;
    color: #ce1035;
    padding-top: 4px;
}

.download-tool p:nth-child(2) {
    text-align: left;
    font-size: 9px;
    color: #333;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.mask .content {
    position: fixed;
    right: .4rem;
    top: 0;
    z-index: 10;
    padding-top: 1.5rem;
    width: 3.36rem;
    height: 3.16rem;
    background: url(./images/download_guide_icon.png) no-repeat right top;
    background-size: 100% 100%;
}

