.hot-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.hot-wrapper li {
    position: absolute;
    top: 1.7rem;
    left: .28rem;
    height: 7.72rem;
    width: 6.93rem;
    transform: scaleX(0.8);
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
}

#ani-scale{
    transform:translateY(-28px) scaleX(1);  
}

.hot-wrapper li:nth-child(1) {
    z-index: 3;
    transform: translateY(-28px) scaleX(1);
}

.hot-wrapper li:nth-child(2) {
    z-index: 2;
    transform: translateY(-14px) scaleX(0.9);
}

.hot-wrapper li:nth-child(3) {
    z-index: 1;
}

.hot-wrapper .video-play {
    display: inline-block;
    width: 1.11rem;
    height: 1.11rem;
    background: url(../../images/video_play_btn.png) repeat;
    background-size: 100% 100%;
}

.hot-wrapper li > div:nth-child(1) {
    line-height: 6.82rem;
    height: 6.82rem;
    text-align: center;
    background-image: url(../../images/adv_bg_01.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.hot-wrapper li > div:nth-child(2) {
    height: .9rem;
    line-height: .9rem;
    background-color: #f6f6f6;
    box-shadow: 0 10px 15px 0 rgba(146, 162, 178, .5);
}

.hot-wrapper li > div:nth-child(2) p {
    font-size: 10px;
    height: 100%;
    color: #333;
}

.hot-wrapper p.adv-invest {
    width: 30%;
    background: url(../../images/adv_amt_icon2.png) no-repeat;
    background-size: .34rem .34rem;
    background-position: .23rem center;
    padding-left:.6rem;
}

.hot-wrapper p.adv-packetcount {
    width: 35%;
    background: url(../../images/adv_packet_icon2.png) no-repeat;
    background-size: .34rem .34rem;
    background-position: left center;
    padding-left:.36rem;
}

.hot-wrapper p.adv-score {
    width: 20%;
    background: url(../../images/adv_score_icon2.png) no-repeat;
    background-size: .34rem .34rem;
    background-position: left center;
    padding-left:.36rem;
}

.hot-wrapper p.adv-time {
    width: 15%;
    padding-left:0!important;
}

.hot-wrapper p.adv-time span {
    background-color: #adaca8;
    color: #fff;
    padding: 0 5px;
    border-radius: 10px;
}

.slideOutRight{
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);    
}






